* {
  font-family: 'Maven Pro', 'Zen Kaku Gothic New', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --shadow-A :  9px 9px 16px rgb(180, 180, 170, 0.6), 
                -9px -9px 16px rgba(255, 255, 255, 0.5);

  --shadow-A-hover :  3px 3px 7px rgb(180, 180, 170, 0.6), 
                      -3px -3px 7px rgba(255, 255, 255, 0.5);

  --shadow-B :  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;

  --transition: all 0.3s ease;
}

body {
  transition:
      background-color 0.1s ease,
      color 0.1s ease;
}

.dark {
  background-color: #111;
  color: #fff;
}